/* ----------- CSS General ----------- */

:root {
  --heading-font-family: "Playfair Display", serif;
  --default-font-family: "Poppins", sans-serif;
  --branding-color: #e5bbb4;
  --secondary-color: #fbeae9;
  --form-color: #f2f2f2;
}

h1,
h3,
h4 {
  color: black;
  font-family: var(--heading-font-family);
  font-weight: 400;
}

h2,
p,
a {
  color: black;
  font-family: var(--default-font-family);
  font-weight: 300;
}

h1 {
  font-size: 82px;
  margin-top: 150px;
}

h2 {
  font-weight: 200;
  line-height: 2;
  font-size: 28px;
}

h3 {
  font-size: 32px;
  margin-bottom: 20px;
}

h4 {
  font-size: 42px;
  margin-bottom: 20px;
}

p {
  font-size: 20px;
  line-height: 1.5;
}

a {
  text-decoration: none;
  font-size: 20px;
  line-height: 1.5;
}

ul {
  text-align: center;
}

strong {
  color: var(--branding-color);
  font-weight: 400;
}

.call-out {
  background-color: var(--secondary-color);
  padding: 30px 120px 20px;
  border-radius: 10px;
  margin-top: 50px;
}

.call-out .container {
  padding: 0;
}

.call-out .btn-light {
  background-color: var(--branding-color);
  border: 2px solid var(--branding-color);
  border-radius: 5px;
  color: var(--secondary-color);
  padding: 8px 20px;
  transition: all 200ms ease;
  position: relative;
  top: 20px;
}

.call-out .btn-light:hover {
  background-color: var(--secondary-color);
  color: var(--branding-color);
}

.container .contact-box {
  padding-bottom: 40px;
}

.copyright {
  background-color: var(--branding-color);
  padding: 20px;
  margin: 0;
  font-size: 18px;
}

/* ----------- CSS Navbar ----------- */

.navbar-nav {
  padding: 5px;
}

.nav-item {
  font-family: var(--default-font-family);
  font-weight: 200;
  font-size: 24px;
  padding-right: 20px;
}

.navbar-brand {
  font-family: var(--default-font-family);
  font-weight: 200;
  font-size: 24px;
  padding-left: 20px;
}

.bg-dark {
  background-color: transparent !important;
}

#container-nav {
  padding: 0;
}

/* ----------- CSS Home ----------- */
.quote-home {
  font-family: var(--default-font-family);
  font-weight: 400;
  line-height: 1.2;
  font-size: 110px;
  opacity: 0.5;
  position: absolute;
  right: 50px;
  top: 250px;
  color: #c4dbd4;
}

.hero {
  background-image: linear-gradient(hsla(0, 0%, 0%, 0.2), black),
    url("/images/background.jpeg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: left;
  padding: 120px;
}

.heading-home {
  font-size: 98px;
  margin: 0;
  color: white;
}

.hero p {
  font-size: 36px;
  font-weight: 200;
  margin: 0;
  color: white;
  text-align: left;
}

.hero h2 {
  font-family: var(--default-font-family);
  font-weight: 200;
  line-height: 2;
  font-size: 28px;
  color: white;
}

.content {
  position: absolute;
  bottom: 20px;
}

/* ----------- CSS About ----------- */

ul {
  list-style-type: none;
  padding: 10px 0;
  text-align: left;
}

li {
  display: inline;
}

li img {
  width: 45px;
  padding-right: 10px;
}

hr {
  display: none;
}

#about-page {
  padding-bottom: 20px;
}

.about-description {
  padding: 50px 40px;
}

.button-about {
  margin-bottom: 20px;
  display: block;
}

.about-skills {
  border: 8px solid var(--branding-color);
  border-radius: 8px;
  font-family: var(--default-font-family);
  font-weight: 300;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
}

.container .skills-programs,
.container .languages {
  padding-bottom: 50px;
}

.heading-certificates {
  margin-top: 80px;
}

.heading-skills {
  margin: 50px 0;
}

/* ----------- CSS Work ----------- */

#work-page {
  padding-bottom: 20px;
}

i {
  margin: 0 8px;
}

img {
  border-radius: 10px;
}

.heading {
  margin: 0 0 50px 20px;
}

.btn-light {
  font-family: var(--default-font-family);
  font-weight: 300;
  font-size: 18px;
  margin: 5px 2px;
}

.project-description {
  padding: 20px 40px;
}

.work-structure {
  margin: 100px 0;
}

/* ----------- CSS Contact ----------- */
form {
  padding-right: 50px;
}

.contact-heading {
  margin: 50px 10px;
}

.form-label,
.label {
  font-family: var(--default-font-family);
  font-weight: 300;
  font-size: 20px;
  line-height: 1.5;
}

.contact-form {
  display: block;
  padding-bottom: 20px;
}

.form-control {
  background-color: var(--form-color);
  border-radius: revert;
  height: 50px;
  border: none;
}

#button-contact {
  width: 150px;
  background-color: var(--form-color);
}

.socials {
  font-size: 38px;
  margin: 20px;
  position: relative;
  top: 10px;
}

.contact-socials {
  display: block;
}

.quote {
  font-family: var(--default-font-family);
  font-weight: 400;
  line-height: 1.2;
  font-size: 110px;
  opacity: 0.4;
  position: absolute;
  right: 50px;
  bottom: 100px;
  color: #c4dbd4;
}

.copyright-contact {
  text-align: center;
  background-color: var(--branding-color);
  padding: 20px;
  margin: 0;
  font-size: 18px;
  position: absolute;
  bottom: 0;
  width: 100%;
}

/* Media queries Huge, Desktop, Tablet, Mobile and Small devices */

@media (max-width: 900px) {
  /* Media queries Work Page */
  .project-description {
    padding: 0;
    text-align: center;
  }

  .project-description h3 {
    margin-bottom: 20px;
  }

  .call-out {
    padding: 30px 50px 20px;
    margin: 0;
  }

  .call-out-button-box {
    width: 182px;
    top: 8px;
    position: relative;
  }

  .call-out .btn-light {
    position: relative;
    top: 30px;
  }

  .call-out-content-box {
    width: 420px;
  }

  .copyright {
    font-size: 12px;
  }
}

@media (max-width: 768px) {
  /* Media queries General */
  h1 {
    font-size: 78px;
    margin-top: 100px;
  }

  h3 {
    font-size: 34px;
    margin: 0;
  }

  p {
    font-size: 15px;
  }

  .container .contact-box {
    padding-bottom: 0;
  }

  .call-out {
    padding: 30px 50px 20px;
    margin: 35px;
  }

  .call-out .btn-light {
    position: relative;
    top: 25px;
    width: 155px;
  }

  .call-out-button-box {
    width: 188px;
    top: 8px;
    position: relative;
  }

  .copyright {
    font-size: 12px;
  }

  /* Media queries Navbar */

  .navbar-nav {
    padding-left: 30px;
  }

  /* Media queries Homepage */

  .heading-home {
    font-size: 78px;
  }

  .hero {
    padding: 50px;
  }

  .hero h2 {
    font-size: 24px;
    line-height: 0;
  }

  .hero p {
    font-size: 18px;
  }

  /* Media queries About */

  h2 {
    line-height: 1.4;
    font-size: 20px;
  }

  h3 {
    margin-bottom: 20px;
  }

  h4 {
    font-size: 28px;
  }

  hr {
    display: block;
  }

  .col-md-4 {
    margin-bottom: 10px;
  }

  .col-6 {
    padding-left: 28px;
  }

  .col-6 .about-image {
    width: 40%;
  }

  .col-6 .about-content {
    width: 60%;
    padding: 0;
  }

  .about-description {
    padding: 10px 0;
  }

  .about-description p,
  .about-description h3 {
    text-align: start;
  }

  .technologies img {
    width: 10%;
    display: inline;
  }

  .button-about {
    font-size: 14px;
    margin: 10px 0;
    text-align: start;
  }

  .container .skills-programs {
    font-size: 15px;
  }

  .skills-row {
    margin: 0 20px;
  }

  .col-md-3 {
    padding-bottom: 10px;
  }

  .about-skills {
    margin: 20px;
  }
  .certificates {
    margin-bottom: 80px;
  }

  .certificate-img {
    width: 50%;
  }

  /* Media queries Work Page */
  .heading {
    margin: 0 0 50px 20px;
  }

  .project-description {
    padding: 0 20px;
  }

  .copyright {
    font-size: 14px;
    margin: 20px 0 0 0;
  }

  /* Media queries Contact */

  a {
    font-size: 16px;
  }

  .form-label,
  .label {
    font-family: var(--default-font-family);
    font-weight: 300;
    font-size: 16px;
    line-height: 1.5;
  }

  .contact-column {
    padding: 0 20px;
  }

  #button-contact {
    width: 150px;
    background-color: var(--form-color);
    margin: 0 0 50px 0;
    font-size: 16px;
  }

  .socials {
    font-size: 28px;
    margin: 20px;
    position: relative;
    top: 5px;
  }

  .contact-socials {
    display: block;
  }

  .container {
    padding-bottom: 0;
  }

  .copyright-contact {
    text-align: center;
    background-color: var(--branding-color);
    padding: 20px;
    margin: 92px 0 0;
    font-size: 18px;
  }
}

@media (max-width: 480px) {
  /* Media queries General */
  h1 {
    font-size: 48px;
    margin-top: 100px;
  }

  h2 {
    font-size: 18px;
  }

  p,
  h3 {
    text-align: center;
    padding: 0;
  }

  h3,
  h4 {
    font-size: 26px;
    margin-bottom: 20px;
  }

  p {
    font-size: 15px;
  }

  .heading {
    margin: 0 0 50px 10px;
  }

  .copyright {
    font-size: 12px;
  }

  /* Media queries Homepage */

  .heading-home {
    font-size: 42px;
    line-height: 1.4;
  }

  .hero {
    padding: 40px;
  }

  .hero h2 {
    font-size: 20px;
  }

  .hero p {
    font-size: 16px;
  }

  /* Media queries About */

  h2 {
    line-height: 1.4;
  }

  ul {
    margin: 0;
    padding: 0;
  }

  #about-page {
    padding-bottom: 0;
  }

  .col-6 {
    width: 100%;
  }

  .about-description {
    padding: 40px 0 0;
  }

  .about-description p,
  .about-description h3 {
    text-align: start;
  }

  .heading-skills {
    padding: 0 10px;
  }

  .technologies img {
    width: 11%;
    display: inline;
    padding: 10px 5px;
  }

  .button-about {
    margin: 10px 0;
    text-align: start;
  }

  .certificate-img {
    width: 100%;
  }

  /* Media queries Work Page */

  #work-page {
    padding-bottom: 0;
  }

  .container {
    padding: 0 20px;
  }

  .project-description {
    padding: 0 20px;
  }

  .btn-work {
    display: block;
    margin: 20px auto;
  }

  .copyright {
    font-size: 12px;
    margin: 20px 0 0 0;
  }

  /* Media queries Contact */

  a {
    font-size: 15px;
  }

  ul {
    text-align: left;
  }

  .col-6 {
    padding: 0 20px;
  }

  .form-label,
  .label {
    font-family: var(--default-font-family);
    font-weight: 300;
    font-size: 18px;
    line-height: 1.5;
  }

  .contact-form {
    display: block;
    padding-bottom: 20px;
  }

  .form-control {
    background-color: var(--form-color);
    border-radius: revert;
    height: 50px;
    border: none;
  }

  #button-contact {
    width: 150px;
    background-color: var(--form-color);
    margin: 0 0 50px 0;
  }

  .socials {
    font-size: 20px;
    margin: 20px;
    position: relative;
    top: 5px;
  }

  .contact-socials {
    display: block;
  }

  .copyright-contact {
    font-size: 12px;
    margin: 20px 0 0 0;
  }
}
