:root {
  --branding-color: #6c63ff;
  --secondary-color: #f9f7fe;
  --heading-font-family: "Playfair Display", serif;
  --default-font-family: "Poppins", sans-serif;
}

body {
  font-family: var(--default-font-family);
}

body,
html {
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: black;
  font-family: var(--heading-font-family);
  font-weight: bold;
}

h1 {
  color: black;
  font-size: 68px;
  font-family: var(--heading-font-family);
  font-weight: 400;
  margin-top: 150px;
}

h2 {
  font-family: var(--default-font-family);
  font-weight: 200;
  line-height: 2;
  font-size: 28px;
}

h3 {
  color: black;
  font-size: 32px;
  font-family: var(--heading-font-family);
  font-weight: 400;
  margin-top: 3rem;
}

p {
  font-family: var(--default-font-family);
  font-weight: 300;
  margin: 20px 0;
  font-size: 20px;
}

/* ----------- CSS Home ----------- */

.hero {
  background-image: linear-gradient(hsla(0, 0%, 0%, 0.2), black),
    url("/images/background.jpeg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: left;
  padding: 120px;
}

.heading-home {
  font-size: 98px;
  margin: 0;
  color: white;
}

.hero p {
  font-size: 36px;
  font-weight: 200;
  margin: 0;
  color: white;
}

.hero h2 {
  font-family: var(--default-font-family);
  font-weight: 200;
  line-height: 2;
  font-size: 28px;
  color: white;
}

/*.quote {
  display: flex;
}

span {
  color: rgba(255, 255, 255, 0.3);
  font-size: 140px;
  position: relative;
  right: -850px;
  top: -350px;
}*/

.btn-branding {
  background: var(--branding-color);
  border-radius: 4px;
  color: white;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}

.content {
  position: absolute;
  bottom: 20px;
}

.bg-dark {
  background-color: transparent !important;
}

/* ----------- CSS General ----------- */

.navbar-nav {
  padding: 5px;
}

.nav-item {
  font-family: var(--default-font-family);
  font-weight: 200;
  font-size: 24px;
  padding-right: 20px;
}

.navbar-brand {
  font-family: var(--default-font-family);
  font-weight: 200;
  font-size: 24px;
  padding-left: 20px;
}

.about,
.contact {
  background-color: red;
}

.footer {
  text-align: right;
}

/* ----------- CSS Work ----------- */

i {
  margin: 0 8px;
}

img {
  width: 600px;
}

.container {
  padding-bottom: 80px;
}

.general {
  margin-top: 80px;
}

.btn-light {
  font-family: var(--default-font-family);
  font-weight: 300;
  font-size: 18px;
}

.call-out {
  text-align: center;
  margin-top: 150px;
}

.call-out a {
  font-family: var(--default-font-family);
  font-weight: 300;
  margin: 20px 0;
  font-size: 20px;
  color: grey;
  text-decoration: none;
}

.copyright {
  text-align: center;
}

.hello {
  text-align: left;
}

footer {
  padding-bottom: 10px;
}

/* Media queries Huge, Desktop, Tablet, Mobile and Small devices */

@media (max-width: 1280px) {
}

@media (max-width: 992px) {
}

@media (max-width: 768px) {
  h1 {
    font-size: 78px;
  }

  .hero {
    padding: 50px;
  }
}

@media (max-width: 576px) {
  h1 {
    font-size: 54px;
  }

  .hero {
    padding: 50px;
  }

  .hero p {
    font-size: 26px;
  }

  .hero h2 {
    font-size: 18px;
  }

  .quote {
    display: none;
  }
}

@media (max-width: 480px) {
  .heading-home {
    font-size: 42px;
  }

  .hero {
    padding: 40px;
  }

  .hero p {
    font-size: 20px;
  }

  .hero h2 {
    font-size: 16px;
  }

  .quote {
    display: none;
  }

  .col-6 {
    width: 100%;
  }

  img {
    width: 100%;
  }

  p,
  h3 {
    text-align: center;
    padding: 0;
  }

  h3 {
    font-size: 24px;
    margin: 0;
  }

  p {
    font-size: 18px;
  }

  .call-out h3 {
    margin-bottom: 15px;
  }

  .call-out a {
    font-size: 18px;
  }

  .btn {
    display: block;
    margin: 50px auto 50px auto;
  }

  .container {
    padding: 0 25px;
  }

  .general {
    margin: none;
  }

  .call-out {
    margin: 20px 0;
    font-size: 24px;
  }

  .copyright {
    font-size: 10px;
    margin: 20px 0 0 0;
  }
}
