/* ----------- CSS General ----------- */

:root {
  --heading-font-family: "Playfair Display", serif;
  --default-font-family: "Poppins", sans-serif;
}

body {
  font-family: var(--default-font-family);
}

body,
html {
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: black;
  font-family: var(--heading-font-family);
  font-weight: bold;
}

h1 {
  color: black;
  font-size: 68px;
  font-family: var(--heading-font-family);
  font-weight: 400;
  margin-top: 150px;
}

h2 {
  font-family: var(--default-font-family);
  font-weight: 200;
  line-height: 2;
  font-size: 28px;
}

h3 {
  color: black;
  font-size: 32px;
  font-family: var(--heading-font-family);
  font-weight: 400;
  margin-bottom: 20px;
}

p {
  font-family: var(--default-font-family);
  font-weight: 300;
  font-size: 20px;
}

/* ----------- CSS Home ----------- */

.hero {
  background-image: linear-gradient(hsla(0, 0%, 0%, 0.2), black),
    url("/images/background.jpeg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: left;
  padding: 120px;
}

.heading-home {
  font-size: 98px;
  margin: 0;
  color: white;
}

.hero p {
  font-size: 36px;
  font-weight: 200;
  margin: 0;
  color: white;
  text-align: left;
}

.hero h2 {
  font-family: var(--default-font-family);
  font-weight: 200;
  line-height: 2;
  font-size: 28px;
  color: white;
}

.content {
  position: absolute;
  bottom: 20px;
}

/* ----------- CSS Navbar ----------- */

.navbar-nav {
  padding: 5px;
}

.nav-item {
  font-family: var(--default-font-family);
  font-weight: 200;
  font-size: 24px;
  padding-right: 20px;
}

.navbar-brand {
  font-family: var(--default-font-family);
  font-weight: 200;
  font-size: 24px;
  padding-left: 20px;
}

.bg-dark {
  background-color: transparent !important;
}

/* ----------- CSS Work ----------- */

i {
  margin: 0 8px;
}

footer {
  padding-bottom: 10px;
}

.container {
  padding-bottom: 80px;
}

.heading {
  margin: 0 0 50px 20px;
}

.btn-light {
  font-family: var(--default-font-family);
  font-weight: 300;
  font-size: 18px;
}

.call-out {
  text-align: center;
  margin-top: 150px;
}

.call-out a {
  font-family: var(--default-font-family);
  font-weight: 300;
  margin: 20px 0;
  font-size: 20px;
  color: grey;
  text-decoration: none;
}

.copyright {
  text-align: center;
}

.project-description {
  padding: 40px 40px;
}

/* Media queries Huge, Desktop, Tablet, Mobile and Small devices */

@media (max-width: 900px) {
  /* Media queries Work Page */
  .project-description {
    padding: 0;
    text-align: center;
  }

  .project-description h3 {
    margin-bottom: 20px;
  }
}

@media (max-width: 768px) {
  /* Media queries General */
  h1 {
    margin-top: 100px;
  }

  h3 {
    font-size: 34px;
    margin: 0;
  }

  p {
    font-size: 18px;
  }

  /* Media queries Homepage */

  .heading-home {
    font-size: 78px;
  }

  .hero {
    padding: 50px;
  }

  .hero p {
    font-size: 20px;
  }

  .hero h2 {
    font-size: 16px;
  }

  /* Media queries Work Page */
  .heading {
    margin: 0 0 50px 20px;
  }

  .call-out {
    font-size: 24px;
    margin-top: 50px;
  }

  .call-out h3 {
    margin-bottom: 15px;
    font-size: 22px;
  }

  .call-out a {
    font-size: 18px;
  }

  .copyright {
    font-size: 14px;
    margin: 20px 0 0 0;
  }
}

@media (max-width: 480px) {
  /* Media queries General */
  h1 {
    font-size: 48px;
    margin-top: 100px;
  }

  h2 {
    font-size: 24px;
  }

  p,
  h3 {
    text-align: center;
    padding: 0;
  }

  h3 {
    font-size: 24px;
    margin-bottom: 20px;
  }

  p {
    font-size: 18px;
  }

  /* Media queries Homepage */

  .heading-home {
    font-size: 42px;
  }

  .hero {
    padding: 40px;
  }

  .hero p {
    font-size: 20px;
  }

  .hero h2 {
    font-size: 16px;
  }

  /* Media queries Work Page */

  .container {
    padding: 0 20px;
  }

  .heading {
    margin: 0 0 50px 20px;
  }

  .project-description {
    padding: 0 20px;
  }

  .btn {
    display: block;
    margin: 50px auto 50px auto;
  }

  .call-out {
    margin: 20px 0;
    font-size: 24px;
  }

  .call-out h3 {
    margin-bottom: 15px;
  }

  .call-out a {
    font-size: 18px;
  }

  .copyright {
    font-size: 12px;
    margin: 20px 0 0 0;
  }
}
